* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}
.app {
  max-width: 1280px;
  margin: 0 auto;
}
a,
li {
  text-decoration: none;
  list-style: none;
}
body {
  background: #000;
}
